@font-face {
    font-family: 'Forum';
    src: url("../fonts/forum/Forum-Regular.ttf");
    font-weight: 400 ;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url("../fonts/inter/static/Inter-Regular.ttf");
    font-weight: 400 ;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url("../fonts/inter/static/Inter-SemiBold.ttf");
    font-weight: 600 ;
}
* {
   margin: 0;
    padding: 0;
}

section {
    padding: 0 20px;
}

.header {
    background-color: #0C0C0E;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}
.logo {
    font-family: "Forum";
    font-size: 30px;
    padding: 8px 0;

}

.menu {
    font-size: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.nav-header {
    display: flex;

}

.nav-list {
    display: flex;
    list-style: none;
}

.section-welcome {
    background-image: url("../images/Welcome.jpg");
    width: 100%;
    height: 600px;
}

.section-title {
    background-color: #0C0C0E;
    width: 600px;
    height: 220px;
    color: #ffffff;
    position: relative;
    top: 35%;
    font-size: 28px;
    font-family: "Forum";
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    padding: 40px;
}

.title {
    text-align: center;
}

.section-about {
    background-color: #ffffff;
}

.subject {
    align-items: center;
    color: #0C0C0E;
    font-family: "Forum";
    font-size: 40px;
    border-bottom: 1px solid black;
    height: 60px;
    width: 20px;
}

.about-text {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
}

.carousel-images {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.carousel-pagination {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.carousel-button {
    width: 26px;
    height: 26px;
}

.button-circle {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #0C0C0E;
    margin: auto;
}

input[type=radio] {
    accent-color: #0C0C0E;
}

.inputs-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

label {
    padding-left: 21px;
}
